@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;;
}

.main-header {
    position: relative;
    background-image: url('/img/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}


.main-navbar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e2227ad;
}

.navbar-menu__items {
    list-style: none;
}

.navbar-menu__item {
    display: inline-block;
    padding: 10px;
}

.navbar-menu__item:hover {
    background-color: #333b44;
    transition: 0.4s ease-in;
    border-radius: 4px;
}

.navbar-menu__item a {
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
}



.navbar-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
}


.navbar-logo h1 {
    font-family: "Poppins", sans-serif;
    color: #daa520;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    height: 250px;
    width: 600px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.685);
}

.header-content h1 {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-size: 55px;
}

.header-content p {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    margin: 5px;
}
 
.header-content a {
    margin-top: 15px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    padding: 10px;
    background-color: goldenrod;
    
}

.header-content a:hover {
    background-color: rgb(163, 126, 31);
    transition: 0.4s ease-in;
} 

.header-content i {
    margin: 2px;
}



.hotel-specs {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.spec-box {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    align-items: center;
    gap: 25px;
}


.spec-box h4 { 
    font-size: 20px;
}

.spec-box i {
    background-color: rgb(226, 226, 226);
    padding: 20px;

    border-radius: 15px;
}


.info-section {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
}

.box {
    height: 100%;
}

.info-left {
    width: 60%;
    background-image: url('/img/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-2-left {
    width: 60%;
    background-image: url('/img/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-right {
    width: 40%;
    background-color: #1c1c1c;
}

.info-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family:"Nunito Sans", sans-serif;
    margin: 15px;
    color: white;
}

.info-content h1 {
    font-size: 60px;
    letter-spacing: 4px;
}
.info-content p {
    font-size: 16px;
}

.info-content a {
    padding: 15px;
    background-color: goldenrod ;
    margin-top: 15px;
    text-decoration: none;
    color: white !important;
}

.info-content a:hover {
    background-color: rgb(163, 126, 31);
    transition: 0.4s ease-in;
}

.hotel-gallery {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

.gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Lunito Sans",sans-serif;    
}

.gallery-header h1 {
    font-size: 70px;
    letter-spacing: 4px;
}

.gallery-header p {
    font-size: 16px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.gallery-row img {
    margin: 15px;
    border-radius: 4px;
}

.gallery-row img:hover {
    opacity: 0.3;
}


.hotel-rooms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.room-header {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

.room-header h1 {
    font-size: 70px;
    letter-spacing: 4px;
}

.room-header p {
    font-size: 18px;
}


.room-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* Responsive */
@media (max-width:640px) {
    .main-navbar {
        flex-direction: column;
    }
 
    .header-content {
        height: 200px;
        width: 500px;

    }

    .header-content h1 {
        font-size: 45px;
    }
    .header-content p {
        font-size: 14px;
    }
    .hotel-specs {
        flex-direction: column;
        gap: 35px;
    } 

    .info-section {
        flex-direction: column;
        height: 600px;
        padding: 20px;
    }


    .info-left, .info-2-left,.info-right {
        width: 100%;
    }

    .info-content {
        align-items: center;
        text-align: center;
        margin: 10px;
    }

    .flex-image-item {
        height: 300px;
        width: 300px;
    }

    .gallery-row img {
        height: 100;
        width: 100;
      
    }
}